REACT_APP_API_BASE_URL=http://localhost:3004
REACT_APP_IPFS_URL=http://localhost:3005
REACT_APP_CONTRACT_ADDRESS=DEPLOYED_CONTRACT_ADDRESS
REACT_APP_FIREBASE_PROJECT_ID=YOUR_FIREBASE_PROJECT_ID
REACT_APP_FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY